.order {
  margin-top: 30px;
}

.month-year {
  margin: 20px 0px;
}

.month-span, .year-span, .comma {
  color: #2ecc71;
  font-size: 20px;
}

.comma {
  padding: 0px 2px;
}

.sliding-div {
  cursor: pointer;
}

.day-number {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #2ecc71;
    border-radius: 50%;
    padding-top: 4px;
}

.morning-div, .afternoon-div, .evening-div {
  margin-top: 40px;
}

.morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
  margin-bottom: 20px;
}

.morning-slider-area span, .afternoon-slider-area span, .evening-slider-area span {
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
  padding-left: 45px;
}

.icon i {
  color: #cecece;
}

h2 {
  display: inline-block;
}

/* Responsive */

@media only screen and (min-device-width : 320px) and (max-device-width : 400px) {

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
    padding-left: 10px;
  }

  .icon {
    padding-left: 10px;
  }

  .morning-slider-area span, .afternoon-slider-area span, .evening-slider-area span {
    padding: 9px 0px 0px 0px;
    width: 75px;
    height: 35px;
    font-size: 10px;
  }

  .morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
    padding-left: 0px;
  }
}

@media only screen and (min-device-width : 401px) and (max-device-width : 480px) {

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 21px;
    padding-left: 10px;
  }

  .icon {
    padding-left: 10px;
  }

  .morning-slider-area span, .afternoon-slider-area span, .evening-slider-area span {
    padding: 9px 0px 0px 0px;
    width: 100px;
    height: 35px;
    font-size: 10px;
  }

  .morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
    padding-left: 0px;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 21px;
    padding-left: 10px;
  }

  .icon {
    padding-left: 10px;
  }

  .morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
    padding-left: 0px;
  }

  .morning-slider-area span, .afternoon-slider-area span, .evening-slider-area span {
    padding: 9px 0px 0px 0px;
    width: 110px;
    height: 35px;
    font-size: 10px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .morning-timing-title-box, .afternoon-timing-title-box, .evening-timing-title-box {
    padding-left: 25px;
  }

  h2 {
    padding-left: 10px;
  }

  .morning-slider-area span, .afternoon-slider-area span, .evening-slider-area span {
    padding: 9px 0px 0px 0px;
    width: 110px;
    height: 35px;
    font-size: 10px;
  }
}
