.table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px !important;
    font-size: 0.85em;
    color: #999;
    border-top: none !important;
    vertical-align: baseline;
  }
  img {
    max-width: auto;
}
.restaurant {
  margin-top: 30px;
}
.table-row img{
  border-radius:50%;
}
.sliding-category-box {
  width: 200px;
  height: 35px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: #D0CED0 !important;
  -webkit-box-shadow: 0px 0px 11px -2px #D0CED0;
  box-shadow: 0px 0px 11px -2px #D0CED0;
  position: relative;
  cursor: pointer;
}
 
.active, .sliding-category-box { 
  border-radius: 25px;
  background: green;
}
 

.sliding-category {
  margin: 0px 0px 20px 0px;
}

.sliding-category-box-a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}



  .sliding-category-name {
  position: relative;
  color: #fff;
  top: 15%;
  left: 0%;
  right: 0%;
  font-size: 18px;
  
}
 

.shadow {
  box-shadow: 0 5px 30px rgba(0.30,0.30,0.30,0.30), 0 5px 5px rgba(0.30,0.30,0.30,0.30);
}

#grid {
  display: grid;
  grid-template-columns:  1fr;
  grid-gap: 3vw;
  }


#grid > .rectangle-box-a {
  height: 150px;
  text-align: center;
  border-radius: 16px;
  position: relative;
  /* background-color: #2ecc71 !important; */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.logo-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 5%;
}

.logo-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.name-location-div { 
 
  position: absolute;  
  top: 45%;
  width: 70%;
  height: 90vh;
  text-align: center;
  margin-left: 3%;
}
.p-2 {
width: 50%;
}
.p-2 .ml-3 {
    width: 200px;
    text-align: start;
    
}
.p-2 .ml-3 h5{
list-style: none;
}
.p-2 .mb-0 {
width: 200px;
}
.p-2 .mb-0 a{
font-size: 18px;
color: #A7A6A7;
padding-top: 5px; 
}

.offer{
width: 90px;
height: 25px;
position: relative;
background: #F96A71;
margin-left: 40px;
border-radius: 3px;
}
.offer a:before{
content: '';
display: block;
margin-left: 40px ;
width: 100%;
border-width: 6px 0px;

}

.offer a{
font-size: 15px;
color: #FFFFFF;

  
}
.offer a{
  font-size:8px;
  color: #FFFFFF;
  list-style: none;
}
.offer a:after{    
     content: '';
    width: 10px;
    height: 15px;
    border-top: 10px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 16px solid #F96A71;
    position: absolute;
    right: 99%;
    padding-top: 8% !important;
 

}
.offer a{
font-size: 15px;
color: #FFFFFF;

  
}




.price {
    font-size: 30px !important;
    color: #A3DCE3 !important;
}
.name {
  color: #fff;
  font-size: 24px;
  display: block;
  line-height: 70px;
  font-weight: 600;
  text-align: left;
}

.location {
  color: #fff;
  font-size: 20px;
  display: block;
  line-height: 70px;
  font-weight: 600;
  text-align: left;
}

.kilometer {
  color: #fff;
  font-size: 24px;
  line-height: 70px;
  font-weight: 600;
  text-align: left;
  position: absolute;
  top: 25%;
  right: 5%;
}


/* Responsive CSS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .sliding-container{
    padding: 0;
    margin: 0;
  }


  .sliding-category-box {
    width: 70px;
    height: 25px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
 .table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px !important;
} 
.sliding-category-box-a {
    width: 100%;
    display: block;   
    height:50;
}


  .sliding-category-name {
    font-size: 8px;
    font-weight: bold;

  }

  #grid {
    grid-template-columns: 1fr;
  }

  #grid > .rectangle-box-a {
    height: 100px;
    border-radius: 45px;
  }

  .logo-box {
    width: 80px;
    height: 80px;
    top: 10%;
    left: 3%;
  }
  .align-middle{
    width: 100px;
  }

  .name-location-div {
    position: absolute;    
    top: 27%;
    display: block;
    width: 100%;
    left: 0%;
  }
  .table-row{
    padding-bottom: 40px !important;
  }
  .p-2{

  }
  .p-2 img{
width: 50px;
}
.p-2 .ml-3 {
 width: 130px;
    
   
    
}
.p-2 .ml-3 h5{
list-style: none;
font-size: 12px;
color: #A7A6A7;

}
.p-2 .mb-0 {
width: 200px;
}
.p-2 .mb-0 a{
font-size: 12px;
color: #A7A6A7;
padding-top: 5px; 
}
.offer{
width: 56px;
height:20px;
position: relative;
background:#F96A71; 
margin-left: 40px;
border-radius: 3px;
}
.offer a:before{
content: '';
display: block;
margin-left: 40px ;
width: 100%;
border-width: 6px 0px;

}
.offer a:after{
border-top: 7px solid transparent;
border-bottom: 8px solid transparent;
border-right: 9px solid #F96A71;
position: absolute;
right: 96%;
padding-top: 8% !important;
}
.offer a{
font-size: 15px;
color: #FFFFFF;

  
}
.offer a{
  font-size:8px;
  color: #FFFFFF;
  list-style: none;
}
.price {
    font-size: 16px !important;
    color: #A3DCE3 !important;
    font-weight: bold;
    margin:0;
}

  .name {
    font-size: 20px;
    line-height: 40px;
  }

  .location {
    font-size: 15px;
    line-height: 70px;
  }

  .kilometer {
    font-size: 18px;
    top: 15%;
    right: 5%;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .sliding-category-box {
    width: 90px;
    height: 35px;
  }

  .sliding-category-name {
    font-size: 12px;
    font-weight: bold;
  }

  #grid {
    grid-template-columns: 1fr;
  }

  #grid > .rectangle-box-a {
    height: 100px;
    border-radius: 50px;
  }

  .logo-box {
    width: 80px;
    height: 80px;
    top: 10%;
    left: 2%;
  }

  .name-location-div {

    position: absolute;
    width: 100%;
    top: 28%;
    left:0;
  }

  .name {
    font-size: 20px;
    line-height: 40px;
  }

  .location {
    font-size: 15px;
    line-height: 70px;
  }

  .kilometer {
    font-size: 20px;
    top: 15%;
    right: 5%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .sliding-category-box {
    width: 110px;
    height: 35px;
  }

  .sliding-category-name {
    font-size: 12px;
    font-weight: bold;
  }

  #grid {
    grid-template-columns: 1fr 1fr;
  }

  #grid > .rectangle-box-a {
    height: 100px;
    border-radius: 50px;
  }

  .logo-box {
    width: 80px;
    height: 80px;
    top: 10%;
    left: 3%;
  }

  .name-location-div {
    position: absolute;   
    top: 28%;
  }

  .name {
    font-size: 20px;
    line-height: 40px;
  }

  .location {
    font-size: 15px;
    line-height: 70px;
  }

  .kilometer {
    font-size: 20px;
    top: 15%;
    right: 5%;
  }
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
  .sliding-category-box {
    width: 130px;
    height: 45px;
  }

  .sliding-category-name {
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .offer{
width: 45px;
height:20px;
position: relative;
background:#F96A71; 
margin-left: 40px;
border-radius: 3px;
}
.offer a:before{
content: '';
display: block;
margin-left: 40px ;
width: 100%;
border-width: 6px 0px;

}
.offer a:after{
width: 20.8px;
height: 17.5px;
margin-left: 5px;
}
.offer a{
font-size: 15px;
color: #FFFFFF;

  
}
.offer a{
  font-size:8px;
  color: #FFFFFF;
  list-style: none;
}

  }
