
.restaurant {
  margin-top: 30px;
}
div.scrollmenu {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

div.scrollmenu li {
  display: inline-block; 
  text-align: center;
  padding: 1px;
  text-decoration: none;
  -webkit-overflow-scrolling: touch;

}
div.scrollmenu li a{
  background-color:#2ECC71;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  border-radius: 14px;
  text-decoration: none;
}

div.scrollmenu li a:hover {
  background-color: #777;
  text-decoration: none;
}


.shadow {
  box-shadow: 0 5px 30px rgba(0.30,0.30,0.30,0.30), 0 5px 5px rgba(0.30,0.30,0.30,0.30);
}



.restaurant-details-div {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}

.product-div {
  margin-top: 50px;
  display: block;
  overflow: hidden;
  padding: 20px 10px;
}



#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;

  }

#grid > div {
  height: auto;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  min-height: 120px;
  position: relative;
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
}
.rectangle-box-a{
    display: flex;
    flex-direction: row;
}
.order-now{
margin-right: 0px;
margin-left: -38px;
position: absolute;
bottom: 10px;

}

.product-box { 
  height: 100%;
}
.product-image-box {
    width: 25%;
    height: auto;
    margin-bottom: 1%;
   margin-left: 5%;
   margin-top: 10px;
}

.product-image-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}
.product-name {
 
  margin-top: 4%;
  position: absolute;
  right: 6%;

}
.product-name h1{
  font-size: 30px;

}

.price-button {
    /*position: absolute;*/
    margin-top: 20px;
  /* left: 80%;*/
}


.add-cart-button {
    border-radius: 8px;   
    bottom: 6%;
    text-align: center;
}



/* Responsive */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #grid > div {
 
  min-height: 80px;
}
  .restaurant-top-box {
    width: 100%;
    margin: 0px;
  }

  .restaurant-name {
    font-size: 16px;
  }

  .store-rate-title {
    font-size: 14px;
  }

  .store-rating {
    bottom: 6%;
    font-size: 14px;
  }

  .restaurant-details-div {
    width: 100%;
  }

  .restaurant-details-box {
    width: 60px;
    height: 60px;
    margin-right: calc((100% - 200px) / 3 - 1px);
    box-shadow: 0 8px 6px -6px black;
  }
  .product-box{
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }


 
    
.product-image-box {
    width: 25%;
    height: auto;
    margin-top: 13px;
}
.product-name {
   margin-top: 7%;
 
 
}



.product-name h1{
  font-size: 20px;
  
}
.price-button {
    
    margin-top:0px;
  
}


.add-cart-button {
    border-radius: 8px;   
    bottom: 6%;
    text-align: center;
    padding: 4px;
   font-size: 12px;
}
.order-now {
    margin-right: 0px;
    margin-left: -38px;
    position: absolute;
    bottom: -8px;
}


}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .restaurant-top-box {
    width: 100%;
  }

  .restaurant-name {
    font-size: 16px;
  }

  .store-rate-title {
    font-size: 14px;
  }

  .store-rating {
    bottom: 6%;
    font-size: 14px;
  }

  .restaurant-details-div {
    width: 100%;
  }

  .restaurant-details-box {
    width: 90px;
    height: 90px;
    margin-right: calc((100% - 200px) / 3 - 1px);
    box-shadow: 0 8px 6px -6px black;
  }

  #grid {
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }
   #grid > div {
 
  min-height: 100px;
}
.order-now {
    margin-right: 0px;
    margin-left: -38px;
    position: absolute;
    bottom: 10px;
}


.product-image-box {
    width: 25%;
    height: auto;
   
    
}

}

@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {

  .restaurant-details-box {
    width: 110px;
    height: 110px;
    margin-right: calc((100% - 250px) / 3 - 1px);
    box-shadow: 0 8px 6px -6px black;
  }

  #grid {
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }

}



@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {

  .restaurant-details-box {
    width: 150px;
    height: 150px;
    margin-right: calc((100% - 350px) / 3 - 1px);
    box-shadow: 0 8px 6px -6px black;
  }
}






