.worker {
  margin: 30px 0px;
}

.worker-image-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.worker-image-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.shadow {
    box-shadow: 0 5px 30px rgba(0.30,0.30,0.30,0.30), 0 5px 5px rgba(0.30,0.30,0.30,0.30);
}

.review {
  margin-top: 20px;
}

.store-rating i {
  cursor: pointer;
  font-size: 25px;
  padding: 0px 5px;
}

.rectangle-div {
  margin-top: 40px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  }
#grid > a {
  height: 150px;
  background: #fff;
  text-align: center;
  border-radius: 16px;
}

.rectangle-box-a {
  position: relative;
  /* background-color: #2ecc71 !important; */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-left:5%;
  margin-right: 5%; 
}

.title {
  position: absolute;
    bottom: -16%;
    left: 5%;
    color: #01a185;
    font-size: 15px;
    font-weight: bold;
}

.title-2 {
  position: absolute;
  bottom: -26%;
  left: 5%;
  color: #01a185;
  font-size: 14px;
}

.number {
 position: absolute;
bottom: -11%;
right: 0%;
color:#01a185;
font-size: 9px;;
}

.number-2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

/* Responsive */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {


}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {


}
