/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/category-image
/public/subcategory-image
/public/sub-sub-category-img
/public/store-images
/public/product-image
/public/order-image
/public/offer-image
/public/services-category-images
/public/services-sub-category-images
/public/services-sub-sub-category-images
/public/module-images